* {
    box-sizing: border-box;
  }
/* pallet 
dark grey
#191919
darkish blue
#2D4263
darkish orange
#C84B31
tan
#ECDBBA
*/
  html, body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }  
  
/* Gradient Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 4px;
    background: #191919;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #191919;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#191919, #C84B31, #191919);
  }



/* Wavy divider */

.custom-shape-divider-top-1676495962 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #2D4263;
}

.custom-shape-divider-top-1676495962 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-top-1676495962 .shape-fill {
    fill: #191919;
}