* {
    box-sizing: border-box;
  }
/* pallet 
dark grey
#191919
darkish blue
#2D4263
darkish orange
#C84B31
tan
#ECDBBA
*/
  html, body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }  
  
/* Gradient Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 4px;
    background: #191919;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #191919;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#191919, #C84B31, #191919);
  }
