h2 {
    justify-content: center;
    text-align: center;
    font-family: tahoma;
    font-size: 2rem;
    font-weight: 800;
}

.my-skillz-section {
    height: 100vh;
    width: 100vw;
    /* background-color: #2D4263; */
    background-image: linear-gradient(to bottom,#2D4263, #666666);
    color: #D8B56F;
}

.my-skillz-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
}

.skill {
    background-color: rgba(25, 25, 25, 0);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 35vh;
    /* -webkit-box-shadow: 0px 12px 18px -6px #191919; */
    /* box-shadow:0px 12px 18px -6px #191919; */
    transition: 0.2s ease-in-out all;
}

.skill-content {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 22px;
}

.skill:hover, .skill:active {
    transform: scale(1.05);
}

/* Wavy divider */

.custom-shape-divider-top-1676495962 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #2D4263;
}

.custom-shape-divider-top-1676495962 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-top-1676495962 .shape-fill {
    fill: #191919;
}

@media only screen and (max-width: 1025px){
    .my-skillz-grid {
       grid-template-columns: 1fr;
    }
    .my-skillz-section {
        height: 250vh;
    }
    .skill-content {
        font-size: 18px;
    }
 }